# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml
!results/*
!*.txt
!*.svg
!.yaml
!task#7/analys.md

# ...even if they are in subdirectories
!*/
